/* 
BREAKPOINTS
- 1251px -> 78.2em
- 864px -> 54em
- 752px -> 47em
- 600 -> 37.5em
- 480 -> 30em
- 320 -> 20em
*/

:root {
  --color--white: #f9fbff;
  --color--black: #1e1854;
  --color-text-black: #100d2c;
  --color--dark-blue: #1c4083;
  --color--background-dark: #e7eefd;
  --color-secondary: #f38830;
  --color-secondary-dark: #f27d1e;

  --color-error: #db140d;
  --color-error-text: #7f0c08;
  --color-error-background: #f5c6c4;
  --color-success: #26bc5b;
  --color-focus-light: #4a83ed;
  --color-focus: #356acb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;

  /* For mobile devices - landscape mode had a horrible font-size (actually auto zoom) thing going on. */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Fauna One', serif;
  background-color: var(--color--white);
  color: var(--color-text-black);
  line-height: 1.7;
  font-size: 1.7rem;
}

/* NAVIGATION */
.nav {
  position: fixed;
  width: 100%;
  background-color: var(--color--dark-blue);
  border-bottom: 1px solid var(--color--black);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  padding: 0 3rem;
  z-index: 9999;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.footer__logo {
  width: 18rem;
  height: auto;
}

.nav__logo {
  margin: 10px 0;
}

.nav-icon {
  display: none;
  cursor: pointer;
  fill: var(--color--white);
  padding: 4px;
}

.menu-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.close-icon {
  width: 3rem;
  height: 3rem;
}

.nav__links {
  display: flex;
  font-size: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: var(--color--white);
  transition: all 0.3s;
}

.nav__link--active {
  font-weight: 400;
}

.nav__logo-link {
  padding: 5px 5px 0;
}

/* LINKS & BUTTON */
.link,
.link:link,
.link:visited {
  text-decoration: none;
  padding: 3px 0;
  border-bottom: 1px solid currentColor;
  transition: all 0.2s;
}

.link:active,
.link:hover {
  border-bottom: 1px solid transparent;
}

.link-lightBG,
.link-lightBG:link,
.link-lightBG:visited {
  color: var(--color--black);
}

.link-lightBG:active,
.link-lightBG:hover {
  color: var(--color-text-black);
}

.link-darkBG,
.link-darkBG:link,
.link-darkBG:visited {
  color: #d1e0ff;
}

.link-darkBG:active,
.link-darkBG:hover {
  color: var(--color--white);
}

.btn,
.btn:link,
.btn:visited,
.btn-toggle-form,
.btn-toggle-form:link,
.btn-toggle-form:visited {
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  transition: all 0.3s;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  padding: 8px 23px;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  color: var(--color-text-black);
  background-color: var(--color-secondary);
}

.btn:hover,
.btn:active {
  background-color: var(--color-secondary-dark);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

/* FOCUS STATES */
.link-darkBG:focus,
.nav-icon:focus,
.nav__link:focus,
.nav__logo-link:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer__logo-link:focus,
.btn:focus,
.btn-toggle-form:focus,
.link-lightBG:focus,
.nav-icon:focus,
.nav__link:focus,
.nav__logo-link:focus {
  outline: 3px dotted var(--color-focus-light);
}

.icon-group a:focus,
.form__radio-input:focus {
  outline: 3px dotted var(--color-focus);
}

.link-darkBG:focus {
  outline: 3px dotted var(--color--white);
}

.btn:focus,
.btn-toggle-form:focus {
  outline-offset: 3.5px;
  border-radius: 0;
}

/* ---------------- */
/* GENERAL */
.section {
  padding: 12rem 0 10rem;

  /* IMPORTANT-AF: for use with JS smooth-scroll */
  scroll-margin-top: 5rem;
}

a {
  padding: 5px;
}

::selection {
  background-color: rgba(219, 106, 13, 0.2);
}

/* TYPOGRAPHY */
.h1,
.h2 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: 200;
  color: #1c4083;
}

.h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-bottom: 3rem;
}

.h2 {
  font-size: 2.8rem;
  letter-spacing: 0.5px;
}

.paragraph-large {
  font-size: 19px;
}

.home__p,
.contact__p {
  margin-bottom: 1.5rem;
  width: 690px;
}

/* SECTION: HOME */
.section-home {
  padding: 16rem 0 9rem;
  background-color: inherit;
}

.cta-btn {
  margin-top: 3rem;
  align-self: center;
  /* display: block; */
}

.phil-cred {
  text-align: right;
}

/* REUSABLE + utility classes */
.disp-flx {
  display: flex;
}

.flx-cntr {
  justify-content: center;
}

.content {
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.u-mb-6px {
  margin-bottom: 6px;
}

.w800-mod {
  width: 80rem;
}

.w600-mod {
  width: 64rem;
}

/* QUERY: ABOVE THE FOLD */
@media only screen and (max-width: 78.2em) {
  .w800-mod {
    width: 70rem;
  }
}

@media only screen and (max-width: 54em) {
  .section {
    scroll-margin-top: 3rem;
    padding: 10rem 0 8rem;
  }

  .section-home {
    padding: 15rem 0 8rem;
  }

  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-size: 2.4rem;
    letter-spacing: 0.3px;
  }

  .w800-mod {
    width: 62rem;
  }

  .w600-mod {
    width: 55rem;
  }
}

/* MOBILE NAV is here */
@media only screen and (max-width: 47em) {
  html {
    font-size: 58%;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(#1c4083 25%, #2c2473);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 1%;
    right: 12%;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
  }

  .nav__links--visible {
    display: flex;
  }

  .nav__item {
    margin: 10px 0 0;
  }

  .nav-icon {
    display: unset;
  }

  .w800-mod,
  .w600-mod {
    width: unset;
  }

  .content {
    margin: auto 3rem;
    align-items: flex-start;
    font-size: 16px;
  }

  .home__p,
  .contact__p {
    width: auto;
    max-width: 690px;
  }

  .phil-cred {
    align-self: flex-end;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 0 1.5rem;
  }

  .section {
    padding: 8rem 0 7rem;
  }

  .section-home {
    padding: 15rem 0 8rem;
  }

  .h1,
  .h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .phil-cred {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 30em) {
  .nav__links {
    padding: 8px 15px;
    right: 15%;
  }

  .nav__logo {
    width: 15rem;
    margin: 5px 0;
  }

  .section-home {
    padding: 12rem 0 7rem;
  }

  .paragraph-large {
    font-size: 17px;
  }

  .cta-btn {
    width: 20rem;
  }
}

@media only screen and (max-width: 20em) {
  .nav__links {
    right: 20%;
  }

  .h1 {
    font-size: 23px;
  }

  .content {
    margin: auto 2rem;
  }

  .h2 {
    font-size: 19px;
  }

  .section-home {
    padding: 11rem 0 6rem;
  }

  .btn,
  .btn:link,
  .btn:visited,
  .btn-toggle-form,
  .btn-toggle-form:link,
  .btn-toggle-form:visited {
    font-size: 1.9rem;
    padding: 7px 20px;
  }
}

/* SECTION: ABOUT */
.section-about {
  background-color: var(--color--background-dark);
  transform: skewY(-5deg);
}

.section-about > * {
  transform: skewY(5deg);
}

.section-about ul {
  list-style-type: circle;
}

.flex__block,
.form-container {
  display: flex;
  justify-content: center;
}

.form-container {
  flex-direction: column;
  align-items: center;
}

.flex__block--1,
.flex__block--2,
.flex__block--3 {
  font-size: 17px;
}

.flex__block--1 {
  margin: auto 3rem auto 5rem;
}

.flex__block--1 ul:first-of-type {
  margin-right: 50px;
}

.flex__block--2 {
  margin: auto 2rem 3rem;
}

.flex__block--2:last-of-type {
  margin: auto 2rem;
}

.about__subheading {
  margin-left: 15%;
}

.about__h2 {
  margin-bottom: 2.5rem;
}

.about__h2--1 {
  margin-top: 3rem;
}

.about__h2--2 {
  margin-top: 4.5rem;
}

/* SECTION: FAQ */
.section-faq {
  transform: skewY(-5deg);
  background-color: inherit;
}

.section-faq > * {
  transform: skewY(5deg);
}

.section-faq li {
  list-style: none;
}

.flex__block--3 {
  flex-direction: column;
  margin: auto 5rem;
}

.question {
  margin-bottom: 8px;
  margin-left: 12%;
  margin-top: 1.5rem;
}

.answer {
  margin-bottom: 1.5rem;
  align-self: center;
}

.price {
  margin-bottom: 3px;
  justify-content: space-between;
}

/* QUERY: ABOUT & FAQ */
@media only screen and (max-width: 78.2em) {
  .about__subheading {
    margin-left: 8%;
  }

  .question {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 54em) {
  .about__subheading {
    margin: 0 0 8px 3rem;
  }

  .question {
    margin: 1.5rem 1.7rem 8px 3rem;
  }

  .flex__block--3 {
    margin: auto;
  }

  .price {
    width: 63rem;
  }
}

@media only screen and (max-width: 47em) {
  .flex__block {
    justify-content: flex-start;
  }

  .flex__block--1 ul:first-of-type {
    margin-right: 35px;
  }

  .flex__block--1,
  .flex__block--2,
  .flex__block--2:last-of-type {
    margin-left: 7rem;
  }

  .flex__block--1,
  .flex__block--2,
  .flex__block--3 {
    font-size: 16px;
  }

  .section-faq,
  .section-about {
    padding-bottom: 7rem;
  }

  .answer {
    align-self: flex-start;
    margin: auto 3rem 12px 4rem;
  }

  .price {
    width: 100%;
    margin-bottom: 6px;
    align-items: center;
  }

  .price-amount {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .flex__block--1 {
    flex-direction: column;
    margin-left: 5rem;
  }

  .flex__block--1 ul:first-of-type {
    margin-right: 0;
  }

  .price:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 30em) {
  .flex__block--1,
  .flex__block--2,
  .flex__block--2:last-of-type {
    margin-left: 3.5rem;
    margin-right: 1.7rem;
  }

  .answer {
    margin: 0 3rem 1.3rem;
  }

  .about__subheading {
    margin: 5px 1.7rem 10px;
  }

  .question {
    margin: 1.5rem 1.7rem 8px;
  }

  .question:not(:first-of-type) {
    margin-top: 2.9rem;
  }

  .faq__h1 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .answer {
    margin: 0 2rem 1.3rem;
  }

  .price-amount {
    margin-left: 2rem;
  }
}

/* SECTION: CONTACT */
.section-contact {
  background: linear-gradient(#1c4083 25%, #1e1854);
  margin-top: -10rem;
  padding: 22rem 0 10rem;
}

.section-contact .content,
.section-contact h1 {
  color: var(--color--white);
}

/* .form-container moved to about section for DRY */
.form {
  background-color: var(--color--background-dark);
  border-radius: 3px;
  padding: 50px 7rem 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 50rem;
}

.form__group {
  flex-direction: column;
  margin-bottom: 2rem;
}

.form__group--radio,
.form__radio-group {
  justify-content: space-between;
}

.form__group--radio {
  width: 210px;
  margin-bottom: 2rem;
}

.form__radio-group {
  width: 80px;
  align-items: center;
}

.form__input,
.form__textarea {
  font-family: inherit;
  font-size: 1.7rem;
  color: var(--color-text-black);
  background-color: #fff;
  padding: 3px;
  margin: 3px 0 6px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.form__input {
  height: 30px;
}

.form__textarea {
  height: 12rem;
}

.form__textarea--mb {
  margin-bottom: 2.5rem;
}

.form__input:focus,
.form__textarea:focus {
  background-color: #fff;
  outline: none;
  border-bottom: 2px solid var(--color-text-black);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.form__input--date,
.form__input--name {
  width: 25rem;
}

.form__input--phone {
  width: 18rem;
}

.form__textarea,
.form__input--email {
  width: 35rem;
}

/* Error message <p>'s + input outline */
.form-constraint {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  max-width: max-content;
  color: var(--color-error-text);
  padding: 0.8rem 1.5rem;
  margin: 0 2px;
  border-radius: 2px;
  background-color: var(--color-error-background);
  height: 0;
  opacity: 0;

  transition: all 0.2s;
}

.valid:focus {
  outline: var(--color-success) 2px solid;
}

.invalid:focus {
  outline: var(--color-error) 2px solid;
}

.valid:focus.form__input,
.valid:focus.form__textarea,
.invalid:focus.form__input,
.invalid:focus.form__textarea {
  border-radius: 0;
}

.invalid + .form-constraint {
  height: auto;
  opacity: 1;
  margin-bottom: 1.5rem;
}

.form__radio-label {
  cursor: pointer;
}

.form__radio-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 1.8rem;
  width: 1.8rem;
  border: 3px solid var(--color--black);
  border-radius: 50%;
}

/* focus states moved for DRY */
.form__radio-input:checked {
  background-color: var(--color--black);
}

.contact__btn-group {
  display: flex;
  justify-content: space-around;

  margin-top: 5rem;
  width: 50rem;
}

.btn-toggle-form,
.btn-toggle-form:link,
.btn-toggle-form:visited {
  z-index: 10;
  border: 3px solid var(--color--white);
}

.contact-active-btn,
.contact-active-btn:link,
.contact-active-btn:visited {
  color: var(--color-text-black);
  background-color: var(--color-secondary);
  transform: translateY(1rem);
}

/* NO active/hover state for active-btn class */

.contact-ghost-btn,
.contact-ghost-btn:link,
.contact-ghost-btn:visited {
  color: var(--color--white);
  background-color: transparent;
  transition: all 0.2s;
  transform: translateY(-1rem) scale(0.9);
}

.contact-ghost-btn:active,
.contact-ghost-btn:hover {
  color: var(--color--black);
  background-color: var(--color--background-dark);
}

/* SECTION: FOOTER */
footer {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color--background-dark);
  font-size: 1.7rem;
  padding: 40px 30px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevail-group {
  width: 240px;
}

.icon-group,
.lex {
  width: 180px;
}

.lex {
  align-self: flex-end;
  text-align: right;
}

.icon-group {
  display: flex;
  justify-content: space-around;
  line-height: 0;
}

/* focus state moved for DRY */
.icon {
  width: 4rem;
  height: 4rem;
  fill: var(--color--black);

  transition: fill 0.2s;
}

.icon:hover {
  fill: var(--color-secondary);
}

.prevail-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .footer__logo moved to nav__logo for DRY */
.footer__logo-link {
  display: block;
  line-height: 1;
}

/* QUERY: CONTACT & FOOTER */
@media only screen and (max-width: 54em) {
  footer {
    padding: 40px 20px 20px;
  }

  .section-contact {
    padding: 19rem 0 9rem;
  }

  .icon-group,
  .lex {
    width: 160px;
  }

  .icon-group {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 47em) {
  footer {
    flex-direction: column;
    font-size: 15px;
  }

  .prevail-group {
    margin: 25px 0 10px;
  }

  .prevail-group,
  .lex {
    width: unset;
  }

  .lex {
    align-self: center;
    text-align: center;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-contact {
    margin-top: -6rem;
    padding: 14rem 0 7rem;
  }

  .form {
    border-radius: 0;
    width: 90%;
  }

  .form__input,
  .form__textarea {
    font-size: 16px;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 30em) {
  .section-contact {
    padding: 13rem 0 5rem;
  }

  .contact__btn-group {
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
    width: 30rem;
  }

  /* when consult is the active btn */
  .consult-btn.contact-active-btn,
  .consult-btn.contact-active-btn:link,
  .consult-btn.contact-active-btn:visited {
    transform: translateY(7rem);
  }

  /* when contact is the active btn */
  .contact-btn.contact-active-btn,
  .contact-btn.contact-active-btn:link,
  .contact-btn.contact-active-btn:visited {
    transform: translateY(2rem);
  }

  /* when consult is the active btn */
  .contact-btn.contact-ghost-btn,
  .contact-btn.contact-ghost-btn:link,
  .contact-btn.contact-ghost-btn:visited {
    transform: translateY(-5rem) scale(0.9);
  }

  /* when contact is the active btn */
  .consult-btn.contact-ghost-btn,
  .consult-btn.contact-ghost-btn:link,
  .consult-btn.contact-ghost-btn:visited {
    transform: translateY(0) scale(0.9);
  }

  .form {
    padding: 35px 2rem;
  }

  .form__input--date,
  .form__input--name {
    width: 80%;
  }

  .form__textarea,
  .form__input--email {
    width: 100%;
  }

  footer {
    padding: 20px 5px;
  }

  .footer__logo {
    width: 15rem;
  }
}

@media only screen and (max-width: 20em) {
  .form {
    padding: 35px 1rem;
  }

  .form__input--date,
  .form__input--name {
    width: 100%;
  }

  .form__group--radio {
    width: unset;
    flex-direction: column;
  }

  .form__radio-group {
    padding: 3px;
    margin: 3px 0 0 4px;
  }

  .nav__logo,
  .footer__logo {
    width: 14rem;
  }

  .contact-active-btn,
  .contact-active-btn:link,
  .contact-active-btn:visited {
    transform: translateY(6rem);
  }
}

/* important */
.hidden {
  display: none;
}
