/* 
BREAKPOINTS
- 1251px -> 78.2em
- 864px -> 54em
- 752px -> 47em
- 600 -> 37.5em
- 480 -> 30em
- 320 -> 20em
*/

:root {
  --color--white: #f9fbff;
  --color--black: #1e1854;
  --color-text-black: #100d2c;
  --color--dark-blue: #1c4083;
  --color--background-dark: #e7eefd;
  --color-link: #d1e0ff;
  --color-secondary: #db6a0d;
  --color-secondary-dark: #c35c08;

  --color-error: #db140d;
  --color-error-text: #7f0c08;
  --color-error-background: #f5c6c4;
  /* #db360d */
  --color-success: #26bc5b;
  --color-focus-light: #4a83ed;
  --color-focus: #356acb;
  --color-focus-orange: #db870d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Fauna One', serif;
  background-color: var(--color--white);
  color: var(--color-text-black);
  line-height: 1.7;
  font-size: 1.7rem;
}

/* ---------------- */
/* NAVIGATION */
.nav {
  position: fixed;
  width: 100%;
  background-color: var(--color--dark-blue);
  border-bottom: 1px solid var(--color--black);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  padding: 0 3rem;
  z-index: 9999;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.footer__logo {
  width: 18rem;
  height: auto;
}
.nav__logo {
  margin: 10px 0;
}
.nav-icon {
  display: none;
  cursor: pointer;
  fill: var(--color--white);
  padding: 4px;
}

.menu-icon {
  width: 3.5rem;
  height: 3.5rem;
}
.close-icon {
  width: 3rem;
  height: 3rem;
}

.nav__links {
  display: flex;
  font-size: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: var(--color--white);
}

.nav__link--active {
  font-weight: 400;
}
.nav__logo-link {
  padding: 5px 5px 0;
}

/* LINKS & BUTTON */
.link,
.link:link,
.link:visited {
  text-decoration: none;
  padding: 3px 0;
  border-bottom: 1px solid currentColor;
  transition: all 0.2s;
}
.link:active,
.link:hover {
  border-bottom: 1px solid transparent;
}
.link-faq,
.link-faq:link,
.link-faq:visited {
  color: var(--color--black);
}
.link-faq:active,
.link-faq:hover {
  color: var(--color-text-black);
}
.link-contact,
.link-contact:link,
.link-contact:visited {
  color: var(--color-link);
}
.link-contact:active,
.link-contact:hover {
  color: var(--color--white);
}

.btn,
.btn:link,
.btn:visited,
.btn-toggle-form,
.btn-toggle-form:link,
.btn-toggle-form:visited {
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  transition: all 0.2s;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  padding: 8px 23px;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  color: var(--color--white);
  background-color: var(--color-secondary);
}
.btn:hover,
.btn:active {
  background-color: var(--color-secondary-dark);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}
/* FOCUS STATES */
.link-faq:focus,
.link-contact:focus,
.icon-group a:focus,
.nav-icon:focus,
.nav__link:focus,
.nav__logo-link:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.footer__logo-link:focus,
.btn:focus,
.link-faq:focus,
.nav-icon:focus,
.nav__link:focus,
.nav__logo-link:focus {
  outline: 3px dotted var(--color-focus-light);
}
.icon-group a:focus,
.form__radio-input:focus {
  outline: 3px dotted var(--color-focus);
}
.link-contact:focus {
  outline: 3px dotted var(--color--white);
}

.btn:focus {
  border: 3px solid var(--color--background-dark);
  border-radius: 0;
}

/* ---------------- */
/* GENERAL */
.section {
  padding: 9rem 0;

  /* IMPORTANT-AF: for combination use with JS smooth-scroll */
  scroll-margin-top: 5rem;
  /* safari = snap */
  scroll-snap-margin-top: 5rem;
}
a {
  padding: 5px;
}
::selection {
  background-color: rgba(219, 106, 13, 0.2);
}

/* TYPOGRAPHY */
h1,
h2 {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: 200;
  color: #1c4083;
}
h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.normal-h1 {
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.8rem;
  letter-spacing: 0.5px;
}

.question,
.paragraph-large {
  font-size: 1.9rem;
}

.home__p,
.contact__p {
  width: 690px;
}

/* ---------------- */
/* SECTION HOME */
.section-home {
  padding: 15rem 0 7rem;
  background-color: inherit;
}

.cta-btn {
  margin-top: 3rem;
  align-self: center;
  /* display: block; */
}

.phil-cred {
  text-align: right;
}

/* REUSABLE + utility classes */
.disp-flx {
  display: flex;
}
.flx-cntr {
  justify-content: center;
}
.content {
  flex-direction: column;
  align-items: center;
}
.u-mb-3px {
  margin-bottom: 3px;
}
.u-mb-6px {
  margin-bottom: 6px;
}
.w800-mod {
  width: 80rem;
}
.w600-mod {
  width: 64rem;
}

/* ---------------- */
/* ABOVE THE FOLD MEDIA QUERIES */
/* ---------------- */
@media only screen and (max-width: 78.2em) {
  .w800-mod {
    width: 70rem;
  }
}

@media only screen and (max-width: 54em) {
  .section {
    scroll-margin-top: 3rem;
    /* safari = snap */
    scroll-snap-margin-top: 3rem;
  }
  h1 {
    font-size: 3rem;
  }
  .normal-h1 {
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2.4rem;
    letter-spacing: 0.3px;
  }
  .w800-mod {
    width: 62rem;
  }
  .w600-mod {
    width: 55rem;
  }
}

/* MOBILE NAV is here */
@media only screen and (max-width: 47em) {
  html {
    font-size: 58%;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(#1c4083 25%, #2c2473);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 1%;
    right: 12%;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
  }
  .nav__links--visible {
    display: flex;
  }
  .nav__item {
    margin: 10px 0 0;
  }
  .nav-icon {
    display: unset;
  }

  .w800-mod,
  .w600-mod {
    width: unset;
  }
  .content {
    margin: auto 2rem;
    align-items: flex-start;
  }
  .home__p,
  .contact__p {
    width: unset;
  }
  .phil-cred {
    align-self: flex-end;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 16px;
  }
  .nav {
    padding: 0 1.5rem;
  }

  h1,
  h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .question,
  .paragraph-large {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 30em) {
  .nav__links {
    padding: 8px 15px;
    right: 15%;
  }
  .nav__logo {
    width: 15rem;
    margin: 5px 0;
  }
  .section-home {
    padding: 12rem 0 6rem;
  }
  .u-mb-6px {
    margin-bottom: 10px;
  }
  .question,
  .paragraph-large {
    font-size: 1.7rem;
  }
  .cta-btn {
    width: 20rem;
  }
  .content {
    margin: auto 1.7rem;
  }
}

@media only screen and (max-width: 20em) {
  .nav__links {
    right: 20%;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 19px;
  }
  .section-home {
    padding: 11rem 0 5rem;
  }
  .btn,
  .btn:link,
  .btn:visited,
  .btn-toggle-form,
  .btn-toggle-form:link,
  .btn-toggle-form:visited {
    font-size: 1.9rem;
    padding: 7px 20px;
  }
}

/* ---------------- */
/* SECTION ABOUT */
.section-about {
  padding: 9rem 0 8rem;
  background-color: var(--color--background-dark);
  transform: skewY(-5deg);
}
.section-about > * {
  transform: skewY(5deg);
}
.section-about ul {
  list-style-type: circle;
}

.flex__block,
.form-container {
  display: flex;
  justify-content: center;
}
.form-container {
  flex-direction: column;
  align-items: center;
}

.flex__block--1 {
  margin: auto 2rem auto 4rem;
}

.flex__block--1 ul:first-of-type {
  margin-right: 50px;
}

.flex__block--2 {
  margin: auto 2rem 3rem;
}
.flex__block--2:last-of-type {
  margin: auto 2rem;
}

.about__subheading {
  margin-left: 15%;
}

.section-about h2 {
  margin: 3rem auto 1.5rem;
}

/* ---------------- */
/* SECTION FAQ */
.section-faq {
  transform: skewY(-5deg);
  background-color: inherit;
}
.section-faq > * {
  transform: skewY(5deg);
}
.section-faq li {
  list-style: none;
}

.flex__block--3 {
  flex-direction: column;
  margin: auto 5rem;
}

.question {
  margin-bottom: 8px;
  margin-left: 12%;
}

.question:not(:first-of-type) {
  margin-top: 2rem;
}

.answer,
.answer-block {
  align-self: center;
}

.price {
  justify-content: space-between;
}

/* ---------------- */
/* ABOUT & FAQ MEDIA QUERIES */
/* ---------------- */
@media only screen and (max-width: 78.2em) {
  .about__subheading {
    margin-left: 8%;
  }
  .question {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 54em) {
  .section-about h2 {
    margin: 2 auto 1.5rem;
  }
  .about__subheading,
  .question {
    margin: 0 0 0.8rem 3rem;
  }
  .flex__block--3 {
    margin: auto;
  }
  .price {
    width: 63rem;
  }
}

@media only screen and (max-width: 47em) {
  .flex__block {
    justify-content: flex-start;
  }
  .flex__block--1 ul:first-of-type {
    margin-right: 35px;
  }
  .flex__block--2,
  .flex__block--2:last-of-type {
    margin-left: 5rem;
  }
  .section-faq,
  .section-about {
    padding-bottom: 7rem;
  }
  .answer,
  .answer-block {
    align-self: flex-start;
    margin: auto 20px auto 40px;
  }
  .price {
    width: 100%;
    justify-content: start;
  }
}

@media only screen and (max-width: 37.5em) {
  .flex__block--1 {
    flex-direction: column;
    margin-left: 5rem;
  }
  .flex__block--1 ul:first-of-type {
    margin-right: 0;
  }
}

@media only screen and (max-width: 30em) {
  .section-about,
  .section-faq {
    padding: 6rem 0;
  }
  .flex__block--1,
  .flex__block--2,
  .flex__block--2:last-of-type {
    margin-left: 3.5rem;
    margin-right: 1.7rem;
  }

  .about__subheading,
  .question,
  .answer,
  .answer-block {
    margin: auto 1.7rem;
  }
  .question {
    margin-bottom: 5px;
    line-height: 1.6;
  }
  .about__subheading {
    margin-bottom: 8px;
  }
}

/* ---------------- */
/* SECTION CONTACT */
.section-contact {
  background: linear-gradient(#1c4083 25%, #1e1854);
  margin-top: -10rem;
  padding: 19rem 0 9rem;
}
.section-contact .content,
.section-contact h1 {
  color: var(--color--white);
}
/* .form-container moved to about section for DRY */
.form {
  background-color: var(--color--background-dark);
  border-radius: 3px;
  padding: 4rem 7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 50rem;
}
.form__group {
  flex-direction: column;
}
.form__group--radio,
.form__radio-group {
  justify-content: space-between;
}
.form__group--radio {
  width: 210px;
}
.form__radio-group {
  width: 80px;
  align-items: center;
}

.form__input,
.form__textarea {
  font-family: inherit;
  font-size: 1.7rem;
  color: var(--color-text-black);
  background-color: var(--color--white);
  padding: 3px;
  margin: 3px 0 6px;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.form__input {
  height: 30px;
}
.form__textarea {
  height: 12rem;
}
.form__group--mb {
  margin-bottom: 1.3rem;
}
.form__textarea--mb {
  margin-bottom: 2.5rem;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--color-text-black);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.form__input--date,
.form__input--name {
  width: 25rem;
}
.form__input--phone {
  width: 18rem;
}
.form__textarea,
.form__input--email {
  width: 35rem;
}

/* Error message <p>'s + input outline */
.form-constraint {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  max-width: max-content;
  color: var(--color-error-text);
  padding: 0.8rem 1.5rem;
  border-radius: 2px;
  background-color: var(--color-error-background);
  height: 0;
  opacity: 0;

  transition: all 0.2s;
}
.valid:focus {
  outline: var(--color-success) 2px solid;
}
.invalid:focus {
  outline: var(--color-error) 2px solid;
}
.valid:focus.form__input,
.valid:focus.form__textarea,
.invalid:focus.form__input,
.invalid:focus.form__textarea {
  border-radius: 0;
}
.invalid + .form-constraint {
  height: auto;
  opacity: 1;
}

.form__radio-label {
  cursor: pointer;
}
.form__radio-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 1.8rem;
  width: 1.8rem;
  border: 3px solid var(--color--black);
  border-radius: 50%;
}
/* focus states moved for DRY */
.form__radio-input:checked {
  background-color: var(--color--black);
}

.contact__btn-group {
  display: flex;
  justify-content: space-around;

  margin-top: 5rem;
  width: 50rem;
}
.btn-toggle-form,
.btn-toggle-form:link,
.btn-toggle-form:visited {
  z-index: 10;
  border: 3px solid var(--color--white);
}
.btn-toggle-form:focus {
  outline: 4px dotted var(--color-secondary);
  border-radius: 0;
}

.contact-active-btn,
.contact-active-btn:link,
.contact-active-btn:visited {
  color: var(--color--white);
  background-color: var(--color-secondary-dark);
  transform: translateY(1rem);
}
/* NO active/hover state for active-btn class */

.contact-ghost-btn,
.contact-ghost-btn:link,
.contact-ghost-btn:visited {
  color: var(--color--white);
  background-color: transparent;
  transition: all 0.2s;
  transform: translateY(-1rem) scale(0.9);
}
.contact-ghost-btn:active,
.contact-ghost-btn:hover {
  color: var(--color--black);
  background-color: var(--color--background-dark);
}

/* ---------------- */
/* FOOTER */
footer {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color--background-dark);
  font-size: 1.7rem;
  padding: 40px 30px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-group,
.prevail-group,
.lex {
  width: 240px;
}
.icon-group {
  display: flex;
  justify-content: space-evenly;
  line-height: 0;
}

/* focus state moved for DRY */
.icon {
  width: 4rem;
  height: 4rem;
  fill: var(--color--black);

  transition: fill 0.2s;
}

.icon:hover {
  fill: var(--color-secondary);
}

.prevail-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .footer__logo moved to nav__logo for DRY */
.footer__logo-link {
  display: block;
  line-height: 1;
}

.lex {
  align-self: flex-end;
}

/* ---------------- */
/* CONTACT & FOOTER MEDIA QUERIES */
/* ---------------- */
@media only screen and (max-width: 54em) {
  footer {
    padding: 40px 20px 20px;
  }
  .icon-group,
  .lex {
    width: 160px;
  }
  .lex {
    text-align: right;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-contact {
    margin-top: -6rem;
    padding: 15rem 0 7rem;
  }
  .form {
    border-radius: unset;
    width: 90%;
  }
  .form__input,
  .form__textarea {
    font-size: 16px;
  }
  footer {
    flex-direction: column;
    font-size: 1.5rem;
  }
  .prevail-group {
    margin: 25px 0 10px;
  }
  .prevail-group,
  .lex {
    width: unset;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
  .lex {
    align-self: center;
    text-align: center;
  }
}

@media only screen and (max-width: 30em) {
  .section-contact {
    padding: 12rem 0 5rem;
  }
  .contact__btn-group {
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
    width: 30rem;
  }
  /* when consult is the active btn */
  .consult-btn.contact-active-btn,
  .consult-btn.contact-active-btn:link,
  .consult-btn.contact-active-btn:visited {
    transform: translateY(7rem);
  }
  /* when contact is the active btn */
  .contact-btn.contact-active-btn,
  .contact-btn.contact-active-btn:link,
  .contact-btn.contact-active-btn:visited {
    transform: translateY(2rem);
  }

  /* when consult is the active btn */
  .contact-btn.contact-ghost-btn,
  .contact-btn.contact-ghost-btn:link,
  .contact-btn.contact-ghost-btn:visited {
    transform: translateY(-5rem) scale(0.9);
  }
  /* when contact is the active btn */
  .consult-btn.contact-ghost-btn,
  .consult-btn.contact-ghost-btn:link,
  .consult-btn.contact-ghost-btn:visited {
    transform: translateY(0) scale(0.9);
  }

  .form__group {
    width: 90%;
  }

  footer {
    padding: 20px 5px;
  }
  .footer__logo {
    width: 15rem;
  }
}

@media only screen and (max-width: 20em) {
  .form__group--radio {
    width: unset;
    flex-direction: column;
  }
  .form__radio-group {
    padding: 3px;
    margin: 3px 0 0 4px;
  }
  .nav__logo,
  .footer__logo {
    width: 14rem;
  }
  .contact-active-btn,
  .contact-active-btn:link,
  .contact-active-btn:visited {
    transform: translateY(6rem);
  }
}

/* important */
.hidden {
  display: none;
}
